<div class="card mb-3">
  <div class="card-header">
    <h3 class="card-title"><%= @list %> </h3>
  </div>

  <div = class="card-body">
    <div class="d-flex justify-content-between">
      <h4 class="card-title"> Tasks </h4>
        <%= link_to "Add Task", new_list_task_path(@list), 
                                class: 'btn btn-outline-secondary mb-2',
                                data: {turbo_frame: 'modal'}
         %>
    </div>

    <div id="ts_taskable_tasks">
      <%= render partial: 'lists/show', locals: { list: @list }%>
    </div>

    <div role="toolbar">
      <%= back_link %>
      <%= edit_link(@list) %>
      <%= delete_link(@list) %>
      <%= new_link List %>
    </div>
  </div>
</div>
