<div class="mb-3">
  <%= render @list %>
</div>

<h3> Tasks </h3>

<div id="ts_taskable_tasks">
  <%= render partial: 'lists/show', locals: { list: @list }%>
</div>

<div role="toolbar">
  <%= back_link %>
  <%= edit_link(@list) %>
  <%= delete_link(@list) %>
  <%= new_link List %>
</div>

