<%= simple_form_for(person) do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= form.input :sn %>
    <%= form.input :givenname %>
    <%= form.input :username %>
    <%= form.input :birthdate, html5: true %>
    <%= form.input :city %>
    <%= form.input :active %>
    <%= form.association :category, include_blank: true %>

  </div>

  <div class="form-actions">
    <%= form.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
