<div id="<%= dom_id person %>">
  <p>
    <strong>Sn:</strong>
    <%= person.sn %>
  </p>

  <p>
    <strong>Givenname:</strong>
    <%= person.givenname %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= person.username %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= person.birthdate %>
  </p>

  <p>
    <strong>City:</strong>
    <%= person.city %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= person.active %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= person.category %>
  </p>

</div>
