<p style="color: green"><%= notice %></p>

<%= render @person %>

<div class="d-flex flex-nowrap">
  <%= link_to "Back to people", people_path, class: "btn btn-outline-secondary me-2" %>
  <%= edit_link(@person) %>
  <%= delete_link(@person) %>
</div>
