<div id="<%= dom_id task %>" class="list-group-item" data-sortable-target="item">
  <div class="row">
    <h5 class="col">#<%= task.id %>: <%= task.subject %></h5>
    <div class="col-sm-2 text-muted text-end">
      <%=task.position %> | 
      <%= task.list %>
    </div>
  </div>
</div>
