<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<h1><%= t('controller.posts') %></h1>

<div data-controller="datatables">
  <%= content_tag :table, role: :datatable,
        id: "posts_table",
        class: "table table-bordered table-responsive-xl",
        data: {
          'datatables-target': 'datatable',
          order: [[0, 'desc']].to_json
        } do %>
    <thead>
      <tr class="search">
            <th><%= t('attributes.subject') %></th>
            <th><%= t('attributes.content') %></th>
            <th class="nosort"><%= t('mirco.action') %></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
            <th></th>
            <th></th>
            <th></th>
      </tr>
    </tfoot>
    <tbody>
      <% @posts.each do |post| %>
        <%= content_tag(:tr, id: dom_id(post), class: dom_class(post)) do %>
                <td><%= post.subject %></td>
                <td><%= post.content %></td>
                <td class="text-nowrap">
            <%= show_link post %>
            <%= edit_link post %>
            <%= delete_link post %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
</div>

<br />

<%= back_link %>
<%= new_link Post %>
