<%= render 'shared/turbo-cache-control' %>

<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<%= turbo_frame_tag 'categories', refresh: 'morph' do %>
  <div data-controller="datatables">
    <%= content_tag :table, role: :datatable,
          id: "categories_table",
          class: "table table-responsive-xl",
          data: {
            order: [[0, 'desc']].to_json
          } do %>
      <thead>
        <tr class="search">
          <th><%= t('attributes.name') %></th>
          <th class="nosort actions"><%= t('mirco.action') %></th>
        </tr>
      </thead>
      <tfoot class="search">
        <tr>
          <th></th>
          <th class="nosearch"></th>
        </tr>
      </tfoot>
      <tbody>
        <% @categories.each do |category| %>
          <%= content_tag(:tr, id: dom_id(category), class: dom_class(category)) do %>
            <td><%= category.name %></td>
            <td class="text-nowrap">
              <%= show_link category, { target: '_top' } %>
              <%= edit_link category, { target: '_top' } %>
              <%= delete_link category %>
            </td>
          <% end %>
        <% end %>
      </tbody>
    <% end %>
  </div>
<% end %>

<%= new_link Category %>
