<%= render 'shared/turbo-cache-control' %>

<div class="card mb-3">
  <div class="card-header">
    <h3 class="card-title"> Category: <%= @category.name %> </h3>
  </div>
  <div class="card-body">
    <%= link_to "Back to categories", categories_path, class: "btn btn-outline-secondary me-2" %>
    <%= edit_link(@category) %>
    <%= delete_link(@category) %>
  </div>
</div>

<div class="card mb-3">
  <div class="card-header">
    <h3 class="card-title"> People of Category: <%= @category.name %> </h3>
  </div>
  <div class="card-body">
    <%= render 'people/index', people: @category.people %>
  </div>
</div>
