<!DOCTYPE html>
<html>
  <head>
    <title>RailsPlayground</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
  </head>

  <body>
    <%= turbo_frame_tag "modal" %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" role="navigation">
      <div class="container-fluid">
        <a class="navbar-brand" href="<%= root_path if defined?(root_path)%>#">Rails Playground</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <%= render partial: 'shared/navi' %>
          <%= render partial: 'shared/version' %>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div id="flash">
        <%= render "shared/flash_alert" %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
